@page "/"

<div class="d-flex flex-column gap-4">
    <h3>@folderName</h3>
    <h3>@folderPath</h3>
    <button Style="width: 200px; height: 50px" onclick="@(async() => await PickAsync())">Click to select folder.</button>
</div>

@code {
    private string folderName = "folder Name";
    private string folderPath = "folder Path";

    private async Task PickAsync()
    {
        var folder = await CommunityToolkit.Maui.Storage.FolderPicker.Default.PickAsync(CancellationToken.None);

        folderName = folder.Name;
        folderPath = folder.Path;
    }
}